html {
  overflow: scroll;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0e141f;
}

.papan-skor {
  background-color: #171F2F;
  font-size: 40px;
  padding: 6px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: 'Castoro Titling';
  margin-bottom: 0px;
  color: #15c2b9;
}

.judul1 {
  font-size: 23px;
  text-align: center;
  margin: 10px;
  padding-top: 7.5%;
  font-family: 'Vast Shadow';
  color: #15c2b9;
}

.judul2 {
  font-size: 23px;
  text-align: center;
  margin: 10px;
  padding-top: 7.5%;
  font-family: 'Vast Shadow';
  color: #B28767;
}

h6 {
  text-align: center;
  font-family: 'Poppins';
  color: #fff;
}

.kaki {
  text-align: center;
  margin-top: 5%;
  font-size: 15px;
  margin-bottom: 5%;
}

.chat {
  color: #fff;
  font-family: 'Cabin';
}

.aku {
  color: #15c2b9;
  font-family: 'Poppins';
  font-weight: 900;
  text-decoration: none;
}

.anda {
  text-align: center;
  font-family: 'Josefin Sans';
  font-size: 15px;
  color: #fff;
}

button {
  display: block;
  margin: auto;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  padding: 7.5px 15px;
  margin-top: 1%;
  background-color: #15c2b9;
  font-family: 'Poppins';
  transition: background-color 1.2s ease-in-out;
  transition: all 1.2s ease;
  margin-top: 10%;
}

button:hover {
  background-color: #B28767;
  transform: scale(0.87)
}

.container {
  width: 400px;
  height: 600px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  cursor: url(palu1.png), auto;
}

.container:active {
  cursor: url(palu2.png), auto;
}

.tanah {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  float: left;
}

.tanah::after {
  content: '';
  display: block;
  width: 200px;
  height: 100px;
  background: url(tanah.png) bottom center no-repeat;
  background-size: 80%;
  position: absolute;
  bottom: -36px;
}

.tikus {
  width: 100%;
  height: 100%;
  background: url(gambar_masbro.png) bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100px;
  transition: top 0.25s;
}

.tanah.muncul .tikus {
  top: 4.4px;
}



.container1 {
  margin: auto;
  display: grid;
  place-items: center;
  font-family: 'Poppins';
}
.wrapper{
  display: inline-flex;
  height: 100px;
  width: 380px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.wrapper .option{
  background: #0e141f;
  height: 35%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid #B28767;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #B28767;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #15c2b9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: #15c2b9;
  background: #15c2b9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 20px;
  color: #B28767;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}
